<h1>Bienvenido a la APP de Rick And Morty</h1>
<h2>Explora personajes y conectate con nosotros a traves de nuesto formulario</h2>
<h3>Informacion Sobre Rick and Morty</h3>
<p>
  Rick and Morty es una serie de televisión animada creada por Justin Roiland y Dan Harmon. La serie sigue las aventuras de un científico loco llamado Rick Sanchez y su nieto Morty Smith mientras viajan a través de dimensiones paralelas y realidades alternativas. La serie es conocida por su humor oscuro, sátira social y exploración de temas filosóficos complejos.
  A lo largo de sus temporadas, Rick and Morty ha ganado una gran base de seguidores y ha sido aclamada por la crítica por su escritura inteligente y su animación innovadora. La serie ha abordado temas como la moralidad, la existencia y la naturaleza del universo, todo mientras mantiene un tono humorístico y absurdo.
</p>
<img src="logo.png" alt="rick">