@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
form {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ff00;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  
  label {
    border-radius: 5px;
    display: block;
    font-size: 18px;
    margin-top: 10px;
  }
  
 
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background: black;
    color: #00ff00;
    font-size: 16px;
  }
  
  
  button {
    background: #00ff00;
    color: black;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: #ffcc00;
    box-shadow: 0 0 10px #ffcc00;
  }
  
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
    text-align: center;
  }

  h1{
    text-align: center;
    color:violet;
    font-size: 50px;
  }
  